.additional-gods {
  @media @mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media @desktop {
    display: flex;
    gap: 80px;
  }
}

.additional-gods_wrapper {
  @media @mobile {
    padding-bottom: 40px;
  }

  @media @tablet {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 68px;
  }
}

.additional-gods_list {
  @media @tablet {
    border: 1px solid @gray-dark-3;
  }

  @media @desktop {
    width: 895px;
    padding-left: 110px;
  }
}

.additional-gods_item {
  display: grid;

  @media @mobile {
    grid-template-columns: auto auto;
    padding-bottom: 20px;
    border-top: 1px solid @gray-dark-3;

    &:nth-last-child(1) {
      border-bottom: 1px solid @gray-dark-3;
    }
  }

  @media @tablet {
    grid-template-columns: auto auto 90px;
    border-bottom: 1px solid @gray-dark-3;
    align-items: center;
    padding: 28px 38px;
  }

  @media @desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    border-top: 1px solid @gray-dark-3;

    &:nth-last-child(1) {
      border-bottom: 1px solid @gray-dark-3;
    }
  }
}

.additional-gods_name {
  text-transform: uppercase;

  @media @mobile {
    .text-size-16-16;
  }

  @media @tablet {
    margin: 0;
    padding-bottom: 26px;
  }

  @media @desktop {
    margin: 0;
  }
}

.additional-gods_volume,
.additional-gods_price {
  @media @mobile {
    .text-size-14-14;
  }

  @media @tablet-desktop {
    .text-size-16-20;
    margin: 0;
  }
}

.additional-gods_volume {
  @media @mobile {
    grid-row-start: 2;
  }

  @media @tablet {
    text-align: right;
  }

  @media @desktop {
    padding-left: 80px;
  }
}

.additional-gods_price {
  text-align: right;

  @media @mobile {
    grid-row-start: 2;
  }

  @media @desktop {
    padding-right: 38px;
  }
}

.additional_button {
  @media @mobile {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @media @desktop {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
