.page-footer {
  background-color: @gray-basic;
}

.copyright-link--logo::after {
  display: inline-block;
  content: "";
  width: 27px;
  height: 34px;
  background: url("/img/icon/icon-html-academy.svg") no-repeat;
}

.copyright-link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.contacts-title {
  font-size: 16px;
  line-height: 18px;
}

.contacts-address {
  font-size: 14px;
  line-height: 20px;
}
