// Global settings and text size of form page
.page-form-subtitle {
  .padding-left-right;
  margin: 0;

  @media @mobile {
    .text-size-36-36;
    padding-top: 26px;
  }

  @media @tablet {
    padding-top: 64px;
    padding-left: 70px;
  }

  @media @desktop {
    padding-top: 74px;
  }

  @media @tablet-desktop {
    .text-size-60-60;
  }
}

.page-form-description {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;

  @media @mobile {
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 20px;
  }

  @media @tablet {
    padding-left: 70px;
  }

  @media @desktop {
    padding-left: 110px;
  }

  @media @tablet-desktop {
    .text-size-20-30;
    padding-top: 54px;
    padding-bottom: 66px;
  }
}

.form-section-title {
  @media @mobile {
    padding-left: 20px;
    white-space: initial;
  }

  @media @tablet {
    padding-left: 34px;
  }
}

.program-selection_form {
  display: flex;
  flex-direction: column;
}

.data-program-wrapper {
  @media @desktop {
    display: flex;
    align-items: center;
    gap: 80px;
  }
}

.program-selection_text {
  text-transform: uppercase;
  white-space: nowrap;

  @media @tablet-desktop {
    .text-size-20-30;
  }
}

.program-input--textarea {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border: 1px solid @gray-light;
  width: 100%;

  @media @mobile {
    .text-size-16-18;
    height: 45px;
    padding-left: 16px;
  }

  @media @tablet-desktop {
    .text-size-20-30;
    height: 52px;
    padding-left: 18px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px @black-special-1;
  }
}

.program-text--other-color {
  color: @black-special-1;
}

.page-form-section-title {
  @media @mobile {
    .text-size-24-26;
  }

  @media @tablet-desktop {
    .text-size-36-36;
  }
}

// Custom checkbox

.choice-program_label,
.optional_label {
  display: block;
  position: relative;
  user-select: none;
  cursor: pointer;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}
