.cat-owner_wrapper {
  .padding-left-right;
  display: flex;
  flex-direction: column;

  @media @mobile {
    gap: 14px;
  }

  @media @tablet {
    padding-left: 70px;
    padding-right: 70px;
    gap: 20px;
  }

  @media @desktop {
    flex-direction: row;
    gap: 80px;
  }
}

.cat-owner_label {
  display: flex;
  align-items: center;
  gap: 12px;

  @media @desktop {
    width: 570px;
  }
}

.cat-owner_email {
  background: url("/img/icon/icon-email.svg") no-repeat;

  &:focus {
    background: url("/img/icon/icon-email-focus.svg") no-repeat;
  }
}

.cat-owner_telephone {
  background: url("/img/icon/icon-phone.svg") no-repeat;

  &:focus {
    background: url("/img/icon/icon-phone-focus.svg") no-repeat;
  }
}

.cat-owner_email,
.cat-owner_telephone {
  @media @mobile {
    background-position: right 16px bottom 16px;
  }

  @media @tablet-desktop {
    background-position: right 20px bottom 18px;
  }

  &:focus {
    @media @mobile {
      background-position: right 16px bottom 16px;
    }

    @media @tablet-desktop {
      background-position: right 20px bottom 18px;
    }
  }
}
