.choice-program_wrapper {
  display: flex;
  flex-direction: column;

  @media @mobile {
    position: relative;
    border-top: 1px solid @gray-dark-4;
    border-bottom: 1px solid @gray-dark-4;
    padding-bottom: 26px;
  }

  @media @tablet {
    justify-content: center;
    height: 196px;
    margin-left: 70px;
    margin-right: 70px;
  }

  @media @desktop {
    width: 570px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media @tablet-desktop {
    border: 1px solid @gray-light;
    gap: 22px;
  }
}

.choice-program_label {
  display: flex;
  align-items: center;
  position: relative;

  @media @mobile {
    padding-top: 26px;
    padding-left: 20px;
  }
}

.program-selection_text,
.program-choice_text {
  .text-uppercase;

  @media @mobile {
    .text-size-16-18;
  }

  @media @tablet-desktop {
    .text-size-20-30;
  }
}

.program-choice_text {
  @media @mobile {
    padding-left: 45px;
  }

  @media @tablet-desktop {
    padding-left: 88px;
  }
}

.program-choice_checkmark {
  position: absolute;
  border-radius: 50%;
  border: 1px solid @gray-dark-3;

  @media @mobile {
    width: 30px;
    height: 30px;
  }

  @media @tablet-desktop {
    width: 40px;
    height: 40px;
    margin-left: 28px;
  }
}

.choice-program_label:hover input ~ .program-choice_checkmark {
  border: 1px solid @gray-dark-6;
}

.choice-program_label input:checked ~ .program-choice_checkmark::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  background-color: @green-basic;

  @media @mobile {
    width: 14px;
    height: 14px;
    top: 8px;
    left: 8px;
  }

  @media @tablet-desktop {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }
}
