.example-wrapper {
  .example-wrapper_content {
    content: "";
    background-color: @gray-basic;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  .padding-left-right;
  position: relative;

  @media @mobile {
    background-color: @gray-basic;
    padding-top: 27px;
    padding-bottom: 32px;
  }

  @media @tablet {
    display: grid;
    grid-template-columns: 50% auto;
    padding-bottom: 70px;
    margin-top: 42px;

    &::after {
      .example-wrapper_content;
      height: 462px;
    }
  }

  @media @desktop {
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: 206px 164px 132px auto;
    padding-bottom: 74px;
    margin-top: 30px;

    &::after {
      .example-wrapper_content;
      height: 500px;
    }
  }
}

.example-title {
  margin: 0;

  @media @mobile {
    padding-bottom: 32px;
  }

  @media @tablet {
    padding-bottom: 62px;
  }

  @media @desktop {
    padding-top: 20px;
  }
}

.example-description {
  margin: 0;

  @media @mobile {
    padding-bottom: 25px;
  }

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: -1;
    padding-bottom: 54px;
  }

  @media @desktop {
    grid-column-start: 1;
  }

  @media @tablet-desktop {
    .text-size-16-24;
  }
}

.amount-wrapper {
  @media @tablet {
    grid-column-start: 1;
  }

  @media @desktop {
    grid-column-start: 1;
  }
}

.amount-list {
  @media @mobile {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  @media @tablet-desktop {
    display: flex;
    justify-content: flex-start;
    gap: 42px;
  }
}

.amount-item {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid @gray-dark-3;
  border-radius: 3px;

  @media @mobile {
    width: 124px;
  }

  @media @tablet-desktop {
    width: 162px;
  }
}

.amount-title {
  margin: 0;

  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 20px;

  @media @mobile {
    .text-size-24-24;
  }

  @media @tablet-desktop {
    .text-size-30-37;
  }
}

.amount-description {
  margin: 0;
  position: absolute;
  background-color: @gray-basic;

  @media @mobile {
    .text-size-12-12;
    padding-left: 12px;
    padding-right: 12px;
    bottom: -12px;
    width: 60px;
  }

  @media @tablet {
    background-color: @white;
  }

  @media @tablet-desktop {
    .text-size-14-14;
    padding-left: 7px;
    padding-right: 7px;
    bottom: -7px;
  }
}

.result-wrapper {
  display: flex;

  @media @mobile {
    justify-content: center;
    gap: 5px;
    padding-top: 25px;
    padding-bottom: 42px;
  }

  @media @tablet {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  @media @desktop {
    align-items: flex-end;
    gap: 62px;
  }
}

.result-description {
  font-family: "Oswald", sans-serif;
  line-height: 20px;

  @media @tablet-desktop {
    font-size: 20px;
    margin: 0;
  }
}

.cat-example-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: -1;
    padding-top: 58px;
  }

  @media @desktop {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.cat-example-wrapper--cats {
  .cat-wrapper {
    background-size: contain;

    @media @mobile {
      width: 311px;
      height: 232px;
    }

    @media @tablet-desktop {
      width: 690px;
      height: 536px;
    }
  }

  &::before {
    content: "";
    background: url("/img/cat-fat.svg") no-repeat center;
    .cat-wrapper;
  }

  &::after {
    content: "";
    position: absolute;
    background: url("/img/cat-skinny.svg") no-repeat center;
    .cat-wrapper;
  }
}

.cat-example-toggles {
  text-align: center;
  margin: 0;
}

.slider-toggle {
  @media @tablet-desktop {
    .text-size-20-30;
  }
}
