.example-wrapper {
  .padding-left-right;
  position: relative;

  @media @mobile {
    background-color: @gray-basic;
  }

  @media @tablet {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto auto auto;
  }

  @media @desktop {
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: auto auto auto auto;
  }

  @media @tablet-desktop {
    &::after {
      content: "";
      background-color: @gray-basic;
      padding: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 462px;
      z-index: -1;
    }
  }
}

.example-description {
  @media @tablet-desktop {
    font-size: 16px;
    line-height: 24px;
  }
  @media @tablet {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @media @desktop {
    grid-column-start: 1;
  }
}

.amount-wrapper {
  @media @tablet {
    grid-column-start: 1;
  }

  @media @desktop {
    grid-column-start: 1;
  }
}

.amount-list {
  @media @mobile {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  @media @tablet-desktop {
    display: flex;
    justify-content: flex-start;
    gap: 42px;
  }
}

.amount-item {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid @gray-dark-3;
  border-radius: 3px;

  @media @mobile {
    width: 124px;
  }

  @media @tablet-desktop {
    width: 162px;
  }
}

.amount-title {
  margin: 0;

  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 20px;

  @media @mobile {
    font-size: 24px;
    line-height: 24px;
  }

  @media @tablet-desktop {
    font-size: 30px;
    line-height: 37px;
  }
}

.amount-description {
  margin: 0;
  position: absolute;
  background-color: @gray-basic;

  @media @mobile {
    font-size: 12px;
    line-height: 12px;
    padding-left: 12px;
    padding-right: 12px;
    bottom: -12px;
    width: 60px;
  }

  @media @tablet {
    background-color: @white;
  }

  @media @tablet-desktop {
    font-size: 14px;
    line-height: 14px;
    padding-left: 7px;
    padding-right: 7px;
    bottom: -7px;
  }
}

.result-wrapper {
  display: flex;

  @media @mobile {
    justify-content: center;
    gap: 5px;
    padding-bottom: 52px;
  }

  @media @tablet {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  @media @desktop {
    gap: 62px;
  }
}

.result-description {
  font-family: "Oswald", sans-serif;
  line-height: 20px;

  @media @tablet-desktop {
    font-size: 20px;
    margin: 0;
  }
}

.cat-example-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @media @desktop {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.cat-example-wrapper--cats {
  .cat-wrapper {
    background-size: contain;

    @media @mobile {
      width: 311px;
      height: 232px;
    }

    @media @tablet-desktop {
      width: 690px;
      height: 536px;
    }
  }

  &::before {
    content: "";
    background: url("/img/cat-fat.svg") no-repeat center;
    .cat-wrapper;
  }

  &::after {
    content: "";
    position: absolute;
    background: url("/img/cat-skinny.svg") no-repeat center;
    .cat-wrapper;
  }
}

.cat-example-toggles {
  text-align: center;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 52px;
}
