.advantages-wrapper {
  .padding-left-right;

  @media @mobile {
    padding-bottom: 42px;
  }

  @media @tablet {
    border-bottom: 1px solid @gray-dark-4;
  }
}

.advantages-description {
  @media @mobile {
    display: flex;
    align-items: center;
  }

  @media @tablet-desktop {
    .text-size-16-24;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 58px;
  }
}

.advantages-list {
  counter-reset: advantages-counter;

  @media @mobile {
    display: flex;
    flex-direction: column;
  }

  @media @tablet {
    display: grid;
    grid-template-columns: auto auto;
  }

  @media @desktop {
    display: flex;
    justify-content: space-between;
  }
}

.advantages-item {
  @media @mobile {
    display: flex;
  }

  @media @tablet {
    margin-bottom: 62px;

    &:nth-child(odd) {
      margin-right: 150px;
    }
  }

  @media @tablet-desktop {
    width: 250px;
  }
}

.advantages-description::after {
  font-family: "Oswald", sans-serif;
  font-size: 280px;
  line-height: 280px;
  font-weight: 400;
  color: @gray-basic;
  z-index: -1;
  position: absolute;
  top: -37px;
  right: 4px;

  @media @tablet-desktop {
    counter-increment: advantages-counter;
    content: counter(advantages-counter);
  }
}

.advantages-item-before {
  .content-inline-block;

  @media @mobile {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 20px;
    flex-shrink: 0;
  }

  @media @tablet-desktop {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }
}

.advantages-item--healthy::before {
  .advantages-item-before;
  background: url("../img/background/advantages-item--healthy.svg") no-repeat;
}

.advantages-item--powder::before {
  .advantages-item-before;
  background: url("../img/background/advantages-item--powder.svg") no-repeat;
}

.advantages-item--food::before {
  .advantages-item-before;
  background: url("../img/background/advantages-item--food.svg") no-repeat;
}

.advantages-item--result::before {
  .advantages-item-before;
  background: url("../img/background/advantages-item--result.svg") no-repeat;
}
