.example {
  @media @mobile {
    padding-bottom: 28px;
  }

  @media @tablet {
    padding-bottom: 62px;
  }
}

.example-wrapper {
  .example-wrapper_content {
    content: "";
    background-color: @gray-basic;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  .padding-left-right;
  position: relative;

  @media @mobile {
    background-color: @gray-basic;
    padding-top: 27px;
    padding-bottom: 32px;
  }

  @media @tablet {
    display: grid;
    grid-template-columns: 50% auto;
    padding-bottom: 70px;
    margin-top: 42px;

    &::after {
      .example-wrapper_content;
      height: 462px;
    }
  }

  @media @desktop {
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: 206px 164px 132px auto;
    padding-bottom: 74px;
    margin-top: 30px;

    &::after {
      .example-wrapper_content;
      height: 500px;
    }
  }
}

.example-title {
  margin: 0;

  @media @mobile {
    padding-bottom: 32px;
  }

  @media @tablet {
    padding-bottom: 62px;
  }

  @media @desktop {
    padding-top: 20px;
  }
}

.example-description {
  margin: 0;

  @media @mobile {
    padding-bottom: 25px;
  }

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: -1;
    padding-bottom: 54px;
  }

  @media @desktop {
    grid-column-start: 1;
  }

  @media @tablet-desktop {
    .text-size-16-24;
  }
}

.amount-wrapper {
  @media @tablet {
    grid-column-start: 1;
  }

  @media @desktop {
    grid-column-start: 1;
  }
}

.amount-list {
  @media @mobile {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  @media @tablet-desktop {
    display: flex;
    justify-content: flex-start;
    gap: 42px;
  }
}

.amount-item {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid @gray-dark-3;
  border-radius: 3px;

  @media @mobile {
    width: 124px;
  }

  @media @tablet-desktop {
    width: 162px;
  }
}

.amount-title {
  margin: 0;

  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 20px;

  @media @mobile {
    .text-size-24-24;
  }

  @media @tablet-desktop {
    .text-size-30-37;
  }
}

.amount-description {
  margin: 0;
  position: absolute;
  background-color: @gray-basic;

  @media @mobile {
    .text-size-12-12;
    padding-left: 12px;
    padding-right: 12px;
    bottom: -12px;
    width: 60px;
  }

  @media @tablet {
    background-color: @white;
  }

  @media @tablet-desktop {
    .text-size-14-14;
    padding-left: 7px;
    padding-right: 7px;
    bottom: -7px;
  }
}

.result-wrapper {
  display: flex;

  @media @mobile {
    justify-content: center;
    gap: 5px;
    padding-top: 25px;
    padding-bottom: 42px;
  }

  @media @tablet {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  @media @desktop {
    align-items: flex-end;
    gap: 62px;
  }
}

.result-description {
  font-family: "Oswald", sans-serif;
  line-height: 20px;

  @media @tablet-desktop {
    font-size: 20px;
    margin: 0;
  }
}

// Cat example slider

.cat-example-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: -1;
    padding-top: 58px;
  }

  @media @desktop {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.cat-wrapper {
  background-size: contain;

  @media @mobile {
    width: 311px;
    height: 232px;
  }

  @media @tablet-desktop {
    width: 690px;
    height: 536px;
  }
}

.cat-example--cat-fat {
  .cat-wrapper;
  background: url("../img/cat-fat.svg") no-repeat center;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-fat@2x.svg");
  }
}

.cat-example--cat-slim {
  .cat-wrapper;
  background: url("../img/cat-skinny.svg") no-repeat center;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-skinny@2x.svg");
  }
}

.example-slider-wrapper {
  display: flex;
  align-items: center;

  @media @mobile {
    padding-top: 26px;
  }
}

.slider-toggle {
  .text-size-16-20;
  font-family: "Oswald", sans-serif;
  margin: 0;
  background-color: @gray-basic;

  @media @tablet-desktop {
    .text-size-20-30;

    border-bottom: 2px dotted @gray-dark-3;

    &:hover {
      border-bottom: 2px solid @gray-dark-3;
    }

    &:active {
      border-bottom: 2px solid @gray-basic;
    }
  }
}

.control-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.control-slider {
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: @green-basic;
  border-radius: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.scale-before-after {
  width: 94px;
  height: 14px;
  background-color: @white;
  border: 1px solid @gray-dark-3;
  border-radius: 6px;
}
