.program-wrapper {
  .padding-left-right;

  @media @desktop {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 80px;
  }
}

.program-slim-wrapper,
.program-pro-wrapper {
  background-color: @gray-basic;

  @media @mobile {
    padding: 22px 20px;
    margin-top: 22px;
  }

  @media @tablet {
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 57px;
  }

  @media @desktop {
    width: 570px;
    padding-top: 42px;
    padding-right: 52px;
    padding-bottom: 58px;
  }
}

.program-slim-wrapper {
  @media @tablet {
    padding-right: 62px;
    margin-bottom: 30px;
  }

  @media @desktop {
    padding-left: 52px;
  }
}

.program-pro-wrapper {
  @media @tablet {
    padding-right: 28px;
  }
}

.program-subtitle {
  text-transform: uppercase;
  margin: 0;

  @media @mobile {
    display: flex;
    align-items: center;
  }

  @media @tablet {
    padding-bottom: 8px;
  }

  @media @desktop {
    display: flex;
    align-items: center;
  }

  @media @tablet-desktop {
    .text-size-36-36;
  }
}

.program-subtitle--slim::before {
  .content-inline-block;
  background: url("/img/background/program-cat-lose-weight.svg") no-repeat
    center;
  background-size: contain;

  @media @mobile {
    width: 70px;
    height: 55px;
    margin-right: 20px;
  }

  @media @tablet {
    width: 200px;
    height: 211px;
    margin-left: 18px;
    float: right;
  }

  @media @desktop {
    width: 100px;
    height: 106px;
    margin-right: 62px;
  }
}

.program-subtitle--pro::before {
  .content-inline-block;
  background: url("/img/background/program-cat-gain-weight.svg") no-repeat
    center;
  background-size: contain;

  @media @mobile {
    width: 70px;
    height: 55px;
    margin-right: 20px;
  }

  @media @tablet {
    width: 268px;
    height: 200px;
    margin-left: 18px;
    float: right;
  }

  @media @desktop {
    width: 134px;
    height: 100px;
    margin-left: 32px;
    margin-right: 46px;
  }
}

.program-description {
  @media @mobile {
    border-bottom: 1px solid @gray-dark-4;
    padding-top: 22px;
    padding-bottom: 22px;
    margin: 0;
  }

  @media @tablet-desktop {
    .text-size-16-24;
  }
}

.program-description--pro,
.program-link--pro {
  @media @desktop {
    padding-left: 52px;
  }
}

.program-link {
  display: flex;
  align-items: center;

  @media @mobile {
    padding-top: 22px;
  }

  @media @tablet {
    padding-top: 52px;
  }

  @media @desktop {
    padding-top: 28px;
  }

  @media @tablet-desktop {
    .text-size-20-30;

    &:active {
      opacity: 0.3;
    }
  }
}

.program-link--arrow::after {
  .content-inline-block;
  width: 24px;
  height: 12px;
  background: url("/img/icon/icon-arrow.svg") no-repeat;

  @media @mobile {
    margin-left: 15px;
  }

  @media @tablet-desktop {
    margin-left: 25px;
  }
}
