.page {
  font-family: "Oswald", sans-serif;
}

h1,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 37px;
}

p {
  font-family: "Arial", sans-serif;
  color: @black-special-1;
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: @black;
}

.text-uppercase {
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;

  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
