body {
  margin: 0;
}

.page {
  font-family: "Oswald", sans-serif;

  @media @desktop {
    max-width: 1440px;
    margin: 0 auto;
  }
}

// Font settings

h1,
h2,
h3 {
  font-weight: 400;
}

h3 {
  .text-size-24-37;
}

p {
  font-family: "Arial", sans-serif;
  color: @black-special-1;
  .text-size-14-18;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: @black;
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
}

.page-subtitle {
  margin: 0;

  @media @mobile {
    display: flex;
    align-items: center;
    height: 104px;
    border-bottom: 1px solid @gray-dark-1;
    padding-left: 20px;
  }

  @media @tablet {
    padding-left: 30px;
    padding-top: 38px;
    padding-bottom: 90px;
  }

  @media @desktop {
    padding-left: 110px;
    padding-top: 74px;
    padding-bottom: 84px;
  }

  @media @tablet-desktop {
    .text-size-60-60;
  }
}

// List settings

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

// Button settings

.basic-button {
  background-color: @green-basic;
  height: 40px;
  cursor: pointer;

  &:hover {
    background-color: @green-dark;
  }

  &:active {
    background-color: @green-dark;
  }

  & p {
    color: @white;
    font-family: "Oswald", sans-serif;
    margin: 0;

    &:active {
      opacity: 0.3;
    }
  }
}

button {
  padding: 0;
  border: none;
  cursor: pointer;

  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  .text-size-16-20;
}

// Content settings

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.before-content {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-inline-block {
  content: "";
  display: inline-block;
}

// Padding for content of page

.padding-left-right {
  @media @mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media @tablet {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media @desktop {
    padding-left: 110px;
    padding-right: 110px;
  }
}

// Green line on subtitle

.subtitle-and-line {
  display: flex;
  align-items: center;
  margin: 0;

  &::before {
    .content-inline-block;
    position: relative;
    border-top: 2px solid @green-basic;
    width: 100%;
  }

  @media @mobile {
    .text-size-24-24;
    padding-top: 25px;
    padding-bottom: 36px;
    flex-direction: row-reverse;

    &::before {
      left: 20px;
    }
  }

  @media @tablet {
    .text-size-36-36;
    padding-bottom: 80px;
    padding-top: 68px;
    flex-direction: row-reverse;

    &::before {
      left: 36px;
    }

    &::after {
      .content-inline-block;
      position: relative;
      border-top: 2px solid @green-basic;
      width: 60px;
      right: 36px;
    }
  }

  @media @desktop {
    .text-size-36-36;
    justify-content: center;
    width: fit-content;
    background-color: @white;
    padding: 76px 36px;
    margin-left: 70px;

    &::before {
      width: 100%;
      position: absolute;
      z-index: -1;
      right: 0;
    }

    &::after {
      width: 100%;
      position: absolute;
      z-index: -1;
      left: -110px;
    }
  }
}
